Author: Muhammad Zaki Fuadi

**Loan Data 2014-2017 Preparation**

**Project Background**: 

Perusahaan pemberi pinjaman perlu memprediksi risiko kredit dari pelanggan yang mengajukan pinjaman. Tujuannya adalah untuk mengurangi risiko kredit yang tidak terbayar, meningkatkan pengambilan keputusan kredit, dan meminimalkan kerugian perusahaan.
Untuk memprediksi risiko kredit, perusahaan perlu mempertimbangkan berbagai faktor, seperti riwayat kredit, kondisi keuangan, dan informasi pribadi pelanggan. Perusahaan juga perlu berkomunikasi dengan pemangku kepentingan, seperti tim manajemen, tim risiko, dan tim keuangan, untuk memahami kebutuhan dan perspektif mereka.
Kriteria keberhasilan proyek ini adalah peningkatan akurasi prediksi risiko kredit dan pengurangan risiko kredit yang tidak terbayar.

**Objective**:

1. Meningkatkan Akurasi Prediksi Risiko Kredit.
2. Mengurangi Risiko Kredit yang Tidak Terbayar.
3. Pengambilan Keputusan Kredit yang Lebih Baik.
4. Minimalkan Kerugian Perusahaan.

**Actions**:

1. Melakukan pembersihan data dan visualisasi untuk mendapatkan wawasan bisnis.
2. Membangun model dengan algoritma machine learning.
3. Memprediksi kemampuan pembayaran klien pada data aplikasi uji dengan menggunakan model machine learning terbaik.
4. Memberikan rekomendasi kepada perusahaan untuk meningkatkan keberhasilan klien dalam mengajukan kredit.

### Import Package

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve, auc
import xgboost as xgb
from sklearn.metrics import log_loss
from sklearn.metrics import accuracy_score

from sklearn.preprocessing import MinMaxScaler
from imblearn.over_sampling import RandomOverSampler
from sklearn.preprocessing import StandardScaler

ModuleNotFoundError: No module named 'google.colab'

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

#### Ingest Data

In [3]:
df = pd.read_csv('data/loan_data_2007_2014.csv')

C:\Users\ACER\AppData\Local\Temp\ipykernel_7652\3859966382.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/loan_data_2007_2014.csv')

In [4]:
df_copy = df.copy()
df_copy.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466285 non-null  int64
 1   id                           466285 non-null  int64
 2   member_id                    466285 non-null  int64
 3   loan_amnt                    466285 non-null  int64
 4   funded_amnt                  466285 non-null  int64
 5   funded_amnt_inv              466285 non-null  float64
 6   term                         466285 non-null  object
 7   int_rate                     466285 non-null  float64
 8   installment                  466285 non-null  float64
 9   grade                        466285 non-null  object
 10  sub_grade                    466285 non-null  object
 11  emp_title                    438697 non-null  object
 12  emp_length                   445277 non-null  object
 13  home_ownership               466285 non-null  object
 14  annual_inc                   466281 non-null  float64
 15  verification_status          466285 non-null  object
 16  issue_d                      466285 non-null  object
 17  loan_status                  466285 non-null  object
 18  pymnt_plan                   466285 non-null  object
 19  url                          466285 non-null  object
 20  desc                         125983 non-null  object
 21  purpose                      466285 non-null  object
 22  title                        466265 non-null  object
 23  zip_code                     466285 non-null  object
 24  addr_state                   466285 non-null  object
 25  dti                          466285 non-null  float64
 26  delinq_2yrs                  466256 non-null  float64
 27  earliest_cr_line             466256 non-null  object
 28  inq_last_6mths               466256 non-null  float64
 29  mths_since_last_delinq       215934 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466256 non-null  float64
 32  pub_rec                      466256 non-null  float64
 33  revol_bal                    466285 non-null  int64
 34  revol_util                   465945 non-null  float64
 35  total_acc                    466256 non-null  float64
 36  initial_list_status          466285 non-null  object
 37  out_prncp                    466285 non-null  float64
 38  out_prncp_inv                466285 non-null  float64
 39  total_pymnt                  466285 non-null  float64
 40  total_pymnt_inv              466285 non-null  float64
 41  total_rec_prncp              466285 non-null  float64
 42  total_rec_int                466285 non-null  float64
 43  total_rec_late_fee           466285 non-null  float64
 44  recoveries                   466285 non-null  float64
 45  collection_recovery_fee      466285 non-null  float64
 46  last_pymnt_d                 465909 non-null  object
 47  last_pymnt_amnt              466285 non-null  float64
 48  next_pymnt_d                 239071 non-null  object
 49  last_credit_pull_d           466243 non-null  object
 50  collections_12_mths_ex_med   466140 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466285 non-null  int64
 53  application_type             466285 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466256 non-null  float64
 58  tot_coll_amt                 396009 non-null  float64
 59  tot_cur_bal                  396009 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             396009 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(7), object(22)
memory usage: 266.8+ MB

### Preprocessing Data

In [6]:
### Drop Kolom kosong
df_copy = df_copy.dropna(axis=1, how='all')
df_copy = df_copy.drop(['Unnamed: 0'], axis = 1)
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 57 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           466285 non-null  int64
 1   member_id                    466285 non-null  int64
 2   loan_amnt                    466285 non-null  int64
 3   funded_amnt                  466285 non-null  int64
 4   funded_amnt_inv              466285 non-null  float64
 5   term                         466285 non-null  object
 6   int_rate                     466285 non-null  float64
 7   installment                  466285 non-null  float64
 8   grade                        466285 non-null  object
 9   sub_grade                    466285 non-null  object
 10  emp_title                    438697 non-null  object
 11  emp_length                   445277 non-null  object
 12  home_ownership               466285 non-null  object
 13  annual_inc                   466281 non-null  float64
 14  verification_status          466285 non-null  object
 15  issue_d                      466285 non-null  object
 16  loan_status                  466285 non-null  object
 17  pymnt_plan                   466285 non-null  object
 18  url                          466285 non-null  object
 19  desc                         125983 non-null  object
 20  purpose                      466285 non-null  object
 21  title                        466265 non-null  object
 22  zip_code                     466285 non-null  object
 23  addr_state                   466285 non-null  object
 24  dti                          466285 non-null  float64
 25  delinq_2yrs                  466256 non-null  float64
 26  earliest_cr_line             466256 non-null  object
 27  inq_last_6mths               466256 non-null  float64
 28  mths_since_last_delinq       215934 non-null  float64
 29  mths_since_last_record       62638 non-null   float64
 30  open_acc                     466256 non-null  float64
 31  pub_rec                      466256 non-null  float64
 32  revol_bal                    466285 non-null  int64
 33  revol_util                   465945 non-null  float64
 34  total_acc                    466256 non-null  float64
 35  initial_list_status          466285 non-null  object
 36  out_prncp                    466285 non-null  float64
 37  out_prncp_inv                466285 non-null  float64
 38  total_pymnt                  466285 non-null  float64
 39  total_pymnt_inv              466285 non-null  float64
 40  total_rec_prncp              466285 non-null  float64
 41  total_rec_int                466285 non-null  float64
 42  total_rec_late_fee           466285 non-null  float64
 43  recoveries                   466285 non-null  float64
 44  collection_recovery_fee      466285 non-null  float64
 45  last_pymnt_d                 465909 non-null  object
 46  last_pymnt_amnt              466285 non-null  float64
 47  next_pymnt_d                 239071 non-null  object
 48  last_credit_pull_d           466243 non-null  object
 49  collections_12_mths_ex_med   466140 non-null  float64
 50  mths_since_last_major_derog  98974 non-null   float64
 51  policy_code                  466285 non-null  int64
 52  application_type             466285 non-null  object
 53  acc_now_delinq               466256 non-null  float64
 54  tot_coll_amt                 396009 non-null  float64
 55  tot_cur_bal                  396009 non-null  float64
 56  total_rev_hi_lim             396009 non-null  float64
dtypes: float64(29), int64(6), object(22)
memory usage: 202.8+ MB

In [7]:
### Cek Missing Value
# Missing value
def describe_dataframe(df):
    listItem = []

    for col in df.columns:
        listItem.append([
            col,
            df[col].dtype,
            df[col].isnull().sum(),
            round((df[col].isnull().sum() / len(df[col])) * 100, 2),
            df[col].nunique(),
            list(df[col].drop_duplicates().values)
        ])

    df_desc = pd.DataFrame(
        columns=['Column', 'Dtype', 'null count', 'null perc.', 'unique count', 'unique sample'],
        data=listItem
    )
    
    return df_desc

# Total null values
total_null = df_copy.isnull().sum()
percent_missing = df_copy.isnull().sum() * 100/ len(df_copy)
dtypes = [df_copy[col].dtype for col in df_copy.columns]
df_missing_value = pd.DataFrame({'total_null': total_null,
                                'data_type': dtypes,
                                'percent_missing': percent_missing})
df_missing_value.sort_values('percent_missing', ascending = False,inplace = True)
missing_value = df_missing_value[df_missing_value['percent_missing']>0].reset_index()
describe_dataframe(df_copy)

,Column,Dtype,null count,null perc.,unique count,unique sample
0,id,int64,0,0.00,466285,"[1077501, 1077430, 1077175, 1076863, 1075358, ..."
1,member_id,int64,0,0.00,466285,"[1296599, 1314167, 1313524, 1277178, 1311748, ..."
2,loan_amnt,int64,0,0.00,1352,"[5000, 2500, 2400, 10000, 3000, 7000, 5600, 53..."
3,funded_amnt,int64,0,0.00,1354,"[5000, 2500, 2400, 10000, 3000, 7000, 5600, 53..."
4,funded_amnt_inv,float64,0,0.00,9854,"[4975.0, 2500.0, 2400.0, 10000.0, 3000.0, 5000..."
5,term,object,0,0.00,2,"[ 36 months, 60 months]"
6,int_rate,float64,0,0.00,506,"[10.65, 15.27, 15.96, 13.49, 12.69, 7.9, 18.64..."
7,installment,float64,0,0.00,55622,"[162.87, 59.83, 84.33, 339.31, 67.79, 156.46, ..."
8,grade,object,0,0.00,7,"[B, C, A, E, F, D, G]"
9,sub_grade,object,0,0.00,35,"[B2, C4, C5, C1, B5, A4, E1, F2, C3, B1, D1, A..."
10,emp_title,object,27588,5.92,205475,"[nan, Ryder, AIR RESOURCES BOARD, University M..."
11,emp_length,object,21008,4.51,11,"[10+ years, < 1 year, 1 year, 3 years, 8 years..."
12,home_ownership,object,0,0.00,6,"[RENT, OWN, MORTGAGE, OTHER, NONE, ANY]"
13,annual_inc,float64,4,0.00,31901,"[24000.0, 30000.0, 12252.0, 49200.0, 80000.0, ..."
14,verification_status,object,0,0.00,3,"[Verified, Source Verified, Not Verified]"
15,issue_d,object,0,0.00,91,"[Dec-11, Nov-11, Oct-11, Sep-11, Aug-11, Jul-1..."
16,loan_status,object,0,0.00,9,"[Fully Paid, Charged Off, Current, Default, La..."
17,pymnt_plan,object,0,0.00,2,"[n, y]"
18,url,object,0,0.00,466285,[https://www.lendingclub.com/browse/loanDetail...
19,desc,object,340302,72.98,124436,[ Borrower added on 12/22/11 > I need to upgr...
20,purpose,object,0,0.00,14,"[credit_card, car, small_business, other, wedd..."
21,title,object,20,0.00,63099,"[Computer, bike, real estate business, persone..."
22,zip_code,object,0,0.00,888,"[860xx, 309xx, 606xx, 917xx, 972xx, 852xx, 280..."
23,addr_state,object,0,0.00,50,"[AZ, GA, IL, CA, OR, NC, TX, VA, MO, CT, UT, F..."
24,dti,float64,0,0.00,3997,"[27.65, 1.0, 8.72, 20.0, 17.94, 11.2, 23.51, 5..."
25,delinq_2yrs,float64,29,0.01,24,"[0.0, 2.0, 3.0, 1.0, 4.0, 6.0, 5.0, 8.0, 7.0, ..."
26,earliest_cr_line,object,29,0.01,664,"[Jan-85, Apr-99, Nov-01, Feb-96, Jan-96, Nov-0..."
27,inq_last_6mths,float64,29,0.01,28,"[1.0, 5.0, 2.0, 0.0, 3.0, 4.0, 6.0, 7.0, 8.0, ..."
28,mths_since_last_delinq,float64,250351,53.69,145,"[nan, 35.0, 38.0, 61.0, 8.0, 20.0, 18.0, 68.0,..."
29,mths_since_last_record,float64,403647,86.57,123,"[nan, 113.0, 105.0, 97.0, 33.0, 93.0, 52.0, 85..."
30,open_acc,float64,29,0.01,62,"[3.0, 2.0, 10.0, 15.0, 9.0, 7.0, 4.0, 11.0, 14..."
31,pub_rec,float64,29,0.01,26,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, nan, 6.0, 9.0, ..."
32,revol_bal,int64,0,0.00,58142,"[13648, 1687, 2956, 5598, 27783, 7963, 17726, ..."
33,revol_util,float64,340,0.07,1269,"[83.7, 9.4, 98.5, 21.0, 53.9, 28.3, 85.6, 87.5..."
34,total_acc,float64,29,0.01,112,"[9.0, 4.0, 10.0, 37.0, 38.0, 12.0, 11.0, 13.0,..."
35,initial_list_status,object,0,0.00,2,"[f, w]"
36,out_prncp,float64,0,0.00,135665,"[0.0, 766.9, 1889.15, 2695.31, 3193.13, 2462.2..."
37,out_prncp_inv,float64,0,0.00,141189,"[0.0, 766.9, 1889.15, 2688.53, 3186.72, 2455.3..."
38,total_pymnt,float64,0,0.00,351609,"[5861.071414, 1008.71, 3003.653644, 12226.3022..."
39,total_pymnt_inv,float64,0,0.00,347659,"[5831.78, 1008.71, 3003.65, 12226.3, 3242.17, ..."
40,total_rec_prncp,float64,0,0.00,172713,"[5000.0, 456.46, 2400.0, 10000.0, 2233.1, 5110..."
41,total_rec_int,float64,0,0.00,270249,"[861.07, 435.17, 603.65, 2209.33, 1009.07, 631..."
42,total_rec_late_fee,float64,0,0.00,5808,"[0.0, 16.97, 15.0, 24.17, 14.98883533, 1.0, 23..."
43,recoveries,float64,0,0.00,22773,"[0.0, 117.08, 189.06, 269.29, 444.3, 645.1, 26..."
44,collection_recovery_fee,float64,0,0.00,20275,"[0.0, 1.11, 2.09, 2.52, 4.16, 6.3145, 2.57, 2...."
45,last_pymnt_d,object,376,0.08,98,"[Jan-15, Apr-13, Jun-14, Jan-16, Apr-12, Nov-1..."
46,last_pymnt_amnt,float64,0,0.00,198194,"[171.62, 119.66, 649.91, 357.48, 67.79, 161.03..."
47,next_pymnt_d,object,227214,48.73,100,"[nan, Feb-16, Jan-16, Sep-13, Feb-14, May-14, ..."
48,last_credit_pull_d,object,42,0.01,103,"[Jan-16, Sep-13, Jan-15, Sep-15, Dec-14, Aug-1..."
49,collections_12_mths_ex_med,float64,145,0.03,9,"[0.0, nan, 1.0, 2.0, 4.0, 3.0, 6.0, 16.0, 20.0..."
50,mths_since_last_major_derog,float64,367311,78.77,162,"[nan, 53.0, 34.0, 54.0, 69.0, 7.0, 16.0, 71.0,..."
51,policy_code,int64,0,0.00,1,[1]
52,application_type,object,0,0.00,1,[INDIVIDUAL]
53,acc_now_delinq,float64,29,0.01,6,"[0.0, 1.0, nan, 2.0, 3.0, 5.0, 4.0]"
54,tot_coll_amt,float64,70276,15.07,6321,"[nan, 0.0, 15386.0, 1514.0, 154.0, 539.0, 92.0..."
55,tot_cur_bal,float64,70276,15.07,220690,"[nan, 114834.0, 14123.0, 267646.0, 13605.0, 27..."
56,total_rev_hi_lim,float64,70276,15.07,14612,"[nan, 59900.0, 15100.0, 61100.0, 8100.0, 15400..."

In [8]:
# Drop Unnecesary coloumn
df_copy = df_copy.drop(['member_id','url','title','addr_state','zip_code','policy_code','application_type','emp_title'], axis = 1)

In [9]:
### Handling Missing Values
# Drop feature that have more than 50% missing value
col_full_null = df_missing_value.loc[df_missing_value['percent_missing']> 50].index.tolist()
df_copy.drop(columns=col_full_null, inplace = True)

# Feature `tot_coll_amt`,`tot_cur_bal`,`total_rev_hi_lim` mengganti missing value dengan "0" karena asumsi nasabah tidak meminjam lagi
for col in ['tot_coll_amt','tot_cur_bal','total_rev_hi_lim']:
    df_copy[col] = df_copy[col].fillna(0)
    
# Numerical columns replace missing value with "Median"
for col in df_copy.select_dtypes(exclude = 'object'):
    df_copy[col] = df_copy[col].fillna(df_copy[col].median())
    
def fill_null_with_mode(df, columns):
    for col in columns:
        mode_val = df[col].mode()[0]
        df[col].fillna(mode_val, inplace=True)
    return df

# Mengisi nilai null pada kolom berisi tanggal dengan mode
fill_null_with_mode(df_copy,['next_pymnt_d','last_credit_pull_d','last_pymnt_d','earliest_cr_line'])

describe_dataframe(df_copy)

,Column,Dtype,null count,null perc.,unique count,unique sample
0,id,int64,0,0.00,466285,"[1077501, 1077430, 1077175, 1076863, 1075358, ..."
1,loan_amnt,int64,0,0.00,1352,"[5000, 2500, 2400, 10000, 3000, 7000, 5600, 53..."
2,funded_amnt,int64,0,0.00,1354,"[5000, 2500, 2400, 10000, 3000, 7000, 5600, 53..."
3,funded_amnt_inv,float64,0,0.00,9854,"[4975.0, 2500.0, 2400.0, 10000.0, 3000.0, 5000..."
4,term,object,0,0.00,2,"[ 36 months, 60 months]"
5,int_rate,float64,0,0.00,506,"[10.65, 15.27, 15.96, 13.49, 12.69, 7.9, 18.64..."
6,installment,float64,0,0.00,55622,"[162.87, 59.83, 84.33, 339.31, 67.79, 156.46, ..."
7,grade,object,0,0.00,7,"[B, C, A, E, F, D, G]"
8,sub_grade,object,0,0.00,35,"[B2, C4, C5, C1, B5, A4, E1, F2, C3, B1, D1, A..."
9,emp_length,object,21008,4.51,11,"[10+ years, < 1 year, 1 year, 3 years, 8 years..."
10,home_ownership,object,0,0.00,6,"[RENT, OWN, MORTGAGE, OTHER, NONE, ANY]"
11,annual_inc,float64,0,0.00,31901,"[24000.0, 30000.0, 12252.0, 49200.0, 80000.0, ..."
12,verification_status,object,0,0.00,3,"[Verified, Source Verified, Not Verified]"
13,issue_d,object,0,0.00,91,"[Dec-11, Nov-11, Oct-11, Sep-11, Aug-11, Jul-1..."
14,loan_status,object,0,0.00,9,"[Fully Paid, Charged Off, Current, Default, La..."
15,pymnt_plan,object,0,0.00,2,"[n, y]"
16,purpose,object,0,0.00,14,"[credit_card, car, small_business, other, wedd..."
17,dti,float64,0,0.00,3997,"[27.65, 1.0, 8.72, 20.0, 17.94, 11.2, 23.51, 5..."
18,delinq_2yrs,float64,0,0.00,24,"[0.0, 2.0, 3.0, 1.0, 4.0, 6.0, 5.0, 8.0, 7.0, ..."
19,earliest_cr_line,object,0,0.00,664,"[Jan-85, Apr-99, Nov-01, Feb-96, Jan-96, Nov-0..."
20,inq_last_6mths,float64,0,0.00,28,"[1.0, 5.0, 2.0, 0.0, 3.0, 4.0, 6.0, 7.0, 8.0, ..."
21,open_acc,float64,0,0.00,62,"[3.0, 2.0, 10.0, 15.0, 9.0, 7.0, 4.0, 11.0, 14..."
22,pub_rec,float64,0,0.00,26,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 9.0, 8.0, ..."
23,revol_bal,int64,0,0.00,58142,"[13648, 1687, 2956, 5598, 27783, 7963, 17726, ..."
24,revol_util,float64,0,0.00,1269,"[83.7, 9.4, 98.5, 21.0, 53.9, 28.3, 85.6, 87.5..."
25,total_acc,float64,0,0.00,112,"[9.0, 4.0, 10.0, 37.0, 38.0, 12.0, 11.0, 13.0,..."
26,initial_list_status,object,0,0.00,2,"[f, w]"
27,out_prncp,float64,0,0.00,135665,"[0.0, 766.9, 1889.15, 2695.31, 3193.13, 2462.2..."
28,out_prncp_inv,float64,0,0.00,141189,"[0.0, 766.9, 1889.15, 2688.53, 3186.72, 2455.3..."
29,total_pymnt,float64,0,0.00,351609,"[5861.071414, 1008.71, 3003.653644, 12226.3022..."
30,total_pymnt_inv,float64,0,0.00,347659,"[5831.78, 1008.71, 3003.65, 12226.3, 3242.17, ..."
31,total_rec_prncp,float64,0,0.00,172713,"[5000.0, 456.46, 2400.0, 10000.0, 2233.1, 5110..."
32,total_rec_int,float64,0,0.00,270249,"[861.07, 435.17, 603.65, 2209.33, 1009.07, 631..."
33,total_rec_late_fee,float64,0,0.00,5808,"[0.0, 16.97, 15.0, 24.17, 14.98883533, 1.0, 23..."
34,recoveries,float64,0,0.00,22773,"[0.0, 117.08, 189.06, 269.29, 444.3, 645.1, 26..."
35,collection_recovery_fee,float64,0,0.00,20275,"[0.0, 1.11, 2.09, 2.52, 4.16, 6.3145, 2.57, 2...."
36,last_pymnt_d,object,0,0.00,98,"[Jan-15, Apr-13, Jun-14, Jan-16, Apr-12, Nov-1..."
37,last_pymnt_amnt,float64,0,0.00,198194,"[171.62, 119.66, 649.91, 357.48, 67.79, 161.03..."
38,next_pymnt_d,object,0,0.00,100,"[Feb-16, Jan-16, Sep-13, Feb-14, May-14, Jun-1..."
39,last_credit_pull_d,object,0,0.00,103,"[Jan-16, Sep-13, Jan-15, Sep-15, Dec-14, Aug-1..."
40,collections_12_mths_ex_med,float64,0,0.00,9,"[0.0, 1.0, 2.0, 4.0, 3.0, 6.0, 16.0, 20.0, 5.0]"
41,acc_now_delinq,float64,0,0.00,6,"[0.0, 1.0, 2.0, 3.0, 5.0, 4.0]"
42,tot_coll_amt,float64,0,0.00,6321,"[0.0, 15386.0, 1514.0, 154.0, 539.0, 92.0, 152..."
43,tot_cur_bal,float64,0,0.00,220690,"[0.0, 114834.0, 14123.0, 267646.0, 13605.0, 27..."
44,total_rev_hi_lim,float64,0,0.00,14612,"[0.0, 59900.0, 15100.0, 61100.0, 8100.0, 15400..."

In [10]:
# Feature Engineering Kolom Date
df_copy['earliest_cr_line'] = pd.to_datetime(df_copy['earliest_cr_line'], format = '%b-%y')
df_copy['last_credit_pull_d'] = pd.to_datetime(df_copy['last_credit_pull_d'], format = '%b-%y')
df_copy['last_pymnt_d'] = pd.to_datetime(df_copy['last_pymnt_d'], format = '%b-%y')
df_copy['issue_d'] = pd.to_datetime(df_copy['issue_d'], format = '%b-%y')
df_copy['next_pymnt_d'] = pd.to_datetime(df_copy['next_pymnt_d'], format = '%b-%y')

Adding Feature :<br>
* `pymnt_time` = Selisih bulan `next_pymnt_d` dan `last_pymnt_d`
* `credit_pull_year` = Selisih tahun `earliest_cr_line` dan `last_credit_pull_d`

In [11]:
def diff_month(d1, d2):
    return (d1.year - d2.year) * 12 + d1.month - d2.month
def diff_year(d1, d2):
    return (d1.year - d2.year)

df_copy['pymnt_time'] = df_copy.apply(lambda x: diff_month(x.next_pymnt_d, x.last_pymnt_d), axis=1)
df_copy['credit_pull_year'] = df_copy.apply(lambda x: diff_year(x.last_credit_pull_d, x.earliest_cr_line), axis=1)

df_copy[df_copy['pymnt_time']<0][['next_pymnt_d','last_pymnt_d','pymnt_time']]

      next_pymnt_d last_pymnt_d  pymnt_time
40122   2011-02-01   2016-01-01         -59
40481   2010-10-01   2016-01-01         -63
40498   2010-10-01   2016-01-01         -63
40753   2010-06-01   2016-01-01         -67
40769   2010-06-01   2016-01-01         -67
40785   2010-06-01   2016-01-01         -67
40848   2010-05-01   2016-01-01         -68
40914   2010-04-01   2016-01-01         -69
40927   2010-04-01   2016-01-01         -69
41145   2009-11-01   2016-01-01         -74
41887   2008-12-01   2016-01-01         -85
41931   2009-01-01   2016-01-01         -84

In [12]:
df_copy[df_copy['credit_pull_year']<0][['earliest_cr_line','last_credit_pull_d','credit_pull_year']]

       earliest_cr_line last_credit_pull_d  credit_pull_year
1580         2062-09-01         2013-09-01               -49
1770         2068-09-01         2015-09-01               -53
2799         2064-09-01         2016-01-01               -48
3282         2067-09-01         2015-05-01               -52
3359         2065-02-01         2014-11-01               -51
3413         2067-06-01         2013-04-01               -54
3607         2067-08-01         2014-04-01               -53
3989         2063-12-01         2014-11-01               -49
4440         2068-09-01         2016-01-01               -52
4449         2068-09-01         2015-10-01               -53
4492         2063-03-01         2014-07-01               -49
5109         2068-08-01         2013-02-01               -55
5417         2065-11-01         2014-11-01               -51
5692         2065-05-01         2013-07-01               -52
6137         2054-10-01         2014-10-01               -40
6435         2068-06-01         2015-12-01               -53
7445         2065-10-01         2015-09-01               -50
7481         2066-04-01         2016-01-01               -50
7583         2068-09-01         2015-11-01               -53
7667         2068-03-01         2016-01-01               -52
7893         2062-09-01         2015-02-01               -47
8310         2065-09-01         2012-11-01               -53
8484         2067-04-01         2014-02-01               -53
8806         2063-10-01         2014-06-01               -49
8908         2067-04-01         2013-09-01               -54
9164         2063-10-01         2014-07-01               -49
10344        2064-10-01         2016-01-01               -48
10907        2063-05-01         2016-01-01               -47
11288        2067-07-01         2016-01-01               -51
11336        2062-09-01         2014-09-01               -48
12059        2066-11-01         2016-01-01               -50
12200        2068-03-01         2014-10-01               -54
12907        2065-05-01         2016-01-01               -49
13048        2068-02-01         2014-10-01               -54
13128        2064-07-01         2016-01-01               -48
13226        2067-11-01         2016-01-01               -51
13489        2064-04-01         2014-06-01               -50
13997        2059-06-01         2014-06-01               -45
14015        2056-09-01         2016-01-01               -40
14074        2066-06-01         2014-06-01               -52
14118        2046-01-01         2014-09-01               -32
14244        2066-03-01         2015-03-01               -51
14276        2063-01-01         2014-07-01               -49
15315        2050-12-01         2011-06-01               -39
15439        2066-03-01         2016-01-01               -50
15527        2068-01-01         2011-08-01               -57
16991        2068-02-01         2014-04-01               -54
17618        2066-02-01         2015-10-01               -51
18818        2064-09-01         2012-07-01               -52
18846        2065-10-01         2014-03-01               -51
19303        2064-09-01         2012-05-01               -52
19434        2066-11-01         2016-01-01               -50
19709        2061-12-01         2016-01-01               -45
19902        2067-04-01         2016-01-01               -51
20774        2068-08-01         2013-05-01               -55
21050        2066-11-01         2013-09-01               -53
21124        2068-08-01         2013-02-01               -55
21151        2068-12-01         2014-01-01               -54
22098        2054-11-01         2014-01-01               -40
23169        2064-04-01         2013-12-01               -51
24314        2068-08-01         2015-11-01               -53
24769        2062-09-01         2016-01-01               -46
25185        2065-12-01         2013-10-01               -52
25519        2064-09-01         2016-01-01               -48
25838        2067-11-01         2013-02-01               -54
26307        2066-11-01         2016-01-01               -50
26450        2063-09-01         2013-09-01               -50
26980        2062-11-01         2014-04-01               -48
29533        2063-01-01         2016-01-01               -47
30732        2067-10-01         2013-04-01               -54
30748        2067-09-01         2013-03-01               -54
32007        2067-05-01         2010-05-01               -57
32232        2061-11-01         2013-03-01               -48
32844        2067-02-01         2010-11-01               -57
32919        2068-11-01         2012-02-01               -56
33097        2066-03-01         2011-08-01               -55
33857        2065-02-01         2012-12-01               -53
33992        2067-10-01         2016-01-01               -51
34063        2064-04-01         2013-12-01               -51
34538        2067-11-01         2015-10-01               -52
35852        2067-07-01         2012-08-01               -55
35861        2068-02-01         2012-04-01               -56
35968        2067-04-01         2016-01-01               -51
36763        2068-01-01         2016-01-01               -52
37357        2066-12-01         2012-02-01               -54
37397        2068-10-01         2016-01-01               -52
37511        2067-09-01         2013-08-01               -54
38137        2068-12-01         2014-01-01               -54
39618        2063-05-01         2010-12-01               -53
39686        2063-05-01         2010-12-01               -53
39907        2063-11-01         2011-10-01               -52
40349        2068-08-01         2013-07-01               -55
40878        2068-01-01         2013-06-01               -55
41061        2068-04-01         2011-08-01               -57
41732        2063-09-01         2009-02-01               -54
41829        2059-11-01         2008-08-01               -51
43163        2068-10-01         2016-01-01               -52
43378        2067-08-01         2015-12-01               -52
43556        2067-07-01         2016-01-01               -51
44275        2068-04-01         2015-07-01               -53
46180        2061-01-01         2016-01-01               -45
46245        2065-05-01         2014-08-01               -51
46564        2062-10-01         2016-01-01               -46
46565        2064-06-01         2015-12-01               -49
46757        2062-04-01         2016-01-01               -46
46926        2060-01-01         2016-01-01               -44
47635        2067-06-01         2016-01-01               -51
47677        2066-09-01         2014-10-01               -52
47774        2068-08-01         2016-01-01               -52
47856        2068-03-01         2016-01-01               -52
48280        2068-06-01         2016-01-01               -52
48558        2061-01-01         2016-01-01               -45
48677        2065-03-01         2016-01-01               -49
48802        2065-10-01         2016-01-01               -49
49318        2068-05-01         2016-01-01               -52
49346        2066-07-01         2016-01-01               -50
49682        2065-03-01         2016-01-01               -49
50564        2056-12-01         2015-12-01               -41
51084        2068-03-01         2016-01-01               -52
51451        2066-06-01         2016-01-01               -50
51772        2065-04-01         2016-01-01               -49
51902        2066-06-01         2016-01-01               -50
51994        2064-01-01         2015-07-01               -49
52273        2068-04-01         2016-01-01               -52
52396        2067-05-01         2014-08-01               -53
52459        2065-02-01         2016-01-01               -49
52870        2068-01-01         2016-01-01               -52
53057        2068-05-01         2016-01-01               -52
53165        2065-10-01         2016-01-01               -49
53821        2067-02-01         2016-01-01               -51
53834        2063-01-01         2015-10-01               -48
53975        2068-04-01         2015-02-01               -53
54248        2068-03-01         2016-01-01               -52
54434        2067-08-01         2016-01-01               -51
55137        2066-12-01         2016-01-01               -50
55298        2065-07-01         2016-01-01               -49
55332        2068-05-01         2016-01-01               -52
55537        2067-11-01         2016-01-01               -51
55893        2067-10-01         2015-01-01               -52
56930        2065-01-01         2016-01-01               -49
57315        2067-09-01         2014-10-01               -53
57347        2063-05-01         2016-01-01               -47
57389        2065-09-01         2016-01-01               -49
57417        2068-04-01         2015-01-01               -53
57591        2067-07-01         2015-12-01               -52
57898        2063-10-01         2016-01-01               -47
57983        2068-02-01         2016-01-01               -52
58010        2068-11-01         2016-01-01               -52
58887        2067-08-01         2015-12-01               -52
59434        2062-01-01         2015-12-01               -47
59867        2063-12-01         2016-01-01               -47
61120        2061-12-01         2016-01-01               -45
61130        2064-08-01         2016-01-01               -48
61196        2067-10-01         2016-01-01               -51
61210        2065-07-01         2016-01-01               -49
61541        2066-10-01         2016-01-01               -50
61626        2066-03-01         2015-01-01               -51
62467        2066-06-01         2016-01-01               -50
63925        2067-05-01         2016-01-01               -51
64126        2065-07-01         2015-07-01               -50
64233        2068-03-01         2014-12-01               -54
64604        2067-11-01         2015-03-01               -52
65002        2068-03-01         2016-01-01               -52
65109        2068-05-01         2016-01-01               -52
65120        2067-10-01         2015-02-01               -52
65441        2067-05-01         2016-01-01               -51
66414        2065-05-01         2016-01-01               -49
66431        2066-12-01         2016-01-01               -50
66436        2064-10-01         2016-01-01               -48
68798        2064-10-01         2016-01-01               -48
69213        2064-09-01         2016-01-01               -48
69257        2068-11-01         2016-01-01               -52
69363        2068-06-01         2016-01-01               -52
70031        2068-04-01         2016-01-01               -52
70441        2062-06-01         2016-01-01               -46
70751        2067-11-01         2013-11-01               -54
71505        2068-02-01         2016-01-01               -52
71793        2067-08-01         2014-08-01               -53
72580        2067-06-01         2016-01-01               -51
72727        2068-08-01         2016-01-01               -52
72840        2067-12-01         2015-09-01               -52
73424        2066-11-01         2016-01-01               -50
73690        2064-01-01         2016-01-01               -48
74930        2060-10-01         2014-12-01               -46
74993        2067-09-01         2016-01-01               -51
75740        2062-07-01         2016-01-01               -46
76374        2060-12-01         2016-01-01               -44
76419        2066-12-01         2016-01-01               -50
76493        2065-05-01         2016-01-01               -49
76572        2060-07-01         2016-01-01               -44
77070        2065-09-01         2016-01-01               -49
77344        2067-10-01         2016-01-01               -51
77484        2068-11-01         2015-10-01               -53
77694        2066-09-01         2016-01-01               -50
78376        2063-09-01         2016-01-01               -47
79018        2067-06-01         2015-09-01               -52
79315        2067-05-01         2016-01-01               -51
79834        2065-09-01         2016-01-01               -49
80051        2068-01-01         2016-01-01               -52
80792        2067-07-01         2015-03-01               -52
80823        2065-06-01         2015-02-01               -50
80922        2066-05-01         2016-01-01               -50
80933        2057-10-01         2016-01-01               -41
81000        2068-10-01         2016-01-01               -52
81614        2067-09-01         2016-01-01               -51
81616        2067-07-01         2016-01-01               -51
81867        2066-03-01         2016-01-01               -50
82376        2067-07-01         2016-01-01               -51
82706        2065-08-01         2016-01-01               -49
83412        2060-05-01         2015-11-01               -45
83657        2066-09-01         2016-01-01               -50
83931        2067-09-01         2015-01-01               -52
84450        2067-01-01         2016-01-01               -51
85222        2068-12-01         2016-01-01               -52
86519        2067-09-01         2014-05-01               -53
88136        2062-10-01         2016-01-01               -46
88507        2067-09-01         2016-01-01               -51
88508        2068-03-01         2015-09-01               -53
88522        2068-02-01         2015-09-01               -53
88730        2068-12-01         2016-01-01               -52
89280        2064-09-01         2016-01-01               -48
90151        2053-11-01         2016-01-01               -37
90718        2067-09-01         2015-06-01               -52
91625        2059-10-01         2014-12-01               -45
92497        2063-06-01         2015-12-01               -48
92658        2067-03-01         2016-01-01               -51
93058        2068-01-01         2016-01-01               -52
94921        2068-03-01         2016-01-01               -52
95637        2067-06-01         2016-01-01               -51
96057        2065-10-01         2016-01-01               -49
96067        2063-07-01         2016-01-01               -47
96208        2066-05-01         2016-01-01               -50
96757        2065-06-01         2016-01-01               -49
97426        2060-11-01         2016-01-01               -44
98416        2068-05-01         2015-06-01               -53
98584        2062-03-01         2016-01-01               -46
99214        2067-05-01         2016-01-01               -51
99245        2064-03-01         2015-06-01               -49
99293        2067-07-01         2016-01-01               -51
99352        2067-07-01         2014-04-01               -53
100044       2068-07-01         2015-05-01               -53
100486       2068-05-01         2016-01-01               -52
101890       2064-03-01         2014-10-01               -50
102234       2068-11-01         2016-01-01               -52
102361       2068-03-01         2016-01-01               -52
102477       2067-09-01         2016-01-01               -51
103092       2063-02-01         2016-01-01               -47
103654       2068-09-01         2014-08-01               -54
104238       2066-04-01         2016-01-01               -50
104440       2064-01-01         2016-01-01               -48
104576       2065-10-01         2016-01-01               -49
104779       2063-03-01         2016-01-01               -47
104934       2068-04-01         2016-01-01               -52
106741       2068-01-01         2016-01-01               -52
107112       2067-09-01         2016-01-01               -51
107192       2060-11-01         2016-01-01               -44
107764       2065-10-01         2016-01-01               -49
107765       2066-01-01         2014-10-01               -52
107891       2060-11-01         2015-12-01               -45
108149       2066-11-01         2016-01-01               -50
108197       2064-12-01         2016-01-01               -48
108411       2067-08-01         2014-08-01               -53
108639       2068-07-01         2015-11-01               -53
108980       2068-06-01         2016-01-01               -52
109612       2068-09-01         2016-01-01               -52
110091       2064-05-01         2015-08-01               -49
110124       2059-11-01         2015-07-01               -44
111213       2063-10-01         2016-01-01               -47
111254       2067-04-01         2016-01-01               -51
111417       2065-01-01         2016-01-01               -49
111982       2067-12-01         2016-01-01               -51
112204       2067-04-01         2014-04-01               -53
112471       2066-01-01         2016-01-01               -50
112627       2067-07-01         2016-01-01               -51
113007       2061-10-01         2016-01-01               -45
113262       2068-09-01         2016-01-01               -52
113501       2067-12-01         2016-01-01               -51
114263       2063-03-01         2016-01-01               -47
114810       2067-07-01         2016-01-01               -51
115675       2068-01-01         2016-01-01               -52
115908       2067-12-01         2016-01-01               -51
115969       2065-10-01         2016-01-01               -49
116283       2067-09-01         2016-01-01               -51
116424       2064-10-01         2015-09-01               -49
116451       2063-05-01         2016-01-01               -47
117656       2067-12-01         2015-07-01               -52
118316       2063-03-01         2016-01-01               -47
118358       2068-02-01         2015-05-01               -53
118446       2067-10-01         2016-01-01               -51
118813       2060-08-01         2016-01-01               -44
119056       2059-11-01         2016-01-01               -43
119558       2066-09-01         2016-01-01               -50
119705       2060-03-01         2016-01-01               -44
120598       2067-05-01         2016-01-01               -51
120919       2066-09-01         2016-01-01               -50
120999       2067-12-01         2016-01-01               -51
121393       2067-11-01         2016-01-01               -51
121594       2067-02-01         2016-01-01               -51
122231       2062-10-01         2014-12-01               -48
122694       2066-09-01         2014-01-01               -52
123026       2055-04-01         2015-08-01               -40
123681       2068-10-01         2014-10-01               -54
125217       2059-09-01         2016-01-01               -43
125254       2067-07-01         2016-01-01               -51
125340       2067-08-01         2016-01-01               -51
125737       2060-10-01         2016-01-01               -44
125864       2066-04-01         2016-01-01               -50
126485       2068-09-01         2016-01-01               -52
126807       2067-09-01         2016-01-01               -51
126976       2066-08-01         2014-04-01               -52
127972       2067-12-01         2016-01-01               -51
127983       2067-11-01         2016-01-01               -51
128048       2062-10-01         2016-01-01               -46
128095       2065-08-01         2016-01-01               -49
128508       2065-10-01         2014-02-01               -51
129015       2066-08-01         2016-01-01               -50
129448       2066-02-01         2016-01-01               -50
129626       2063-09-01         2015-06-01               -48
130215       2055-07-01         2016-01-01               -39
130306       2063-11-01         2016-01-01               -47
132297       2063-10-01         2016-01-01               -47
132573       2068-02-01         2016-01-01               -52
133142       2067-04-01         2016-01-01               -51
133402       2062-10-01         2014-07-01               -48
134182       2061-08-01         2016-01-01               -45
134246       2066-11-01         2016-01-01               -50

* There is a negative value in the `pymnt_time` feature, the value will be replaced with 0 because it assumes that the customer does not have a bill to make a payment

* There is an false input in the `earliest_cr_line` feature, resulting in a negative `credit_pull_year` value so that the line with that value will be replaced with the maximum value of the `credit_pull_year `feature

In [13]:
df_copy.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,pymnt_time,credit_pull_year
0,1077501,5000,5000,4975.0,36 months,10.65,162.87,B,B2,10+ years,RENT,24000.0,Verified,2011-12-01,Fully Paid,n,credit_card,27.65,0.0,1985-01-01,1.0,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,2015-01-01,171.62,2016-02-01,2016-01-01,0.0,0.0,0.0,0.0,0.0,13,31
1,1077430,2500,2500,2500.0,60 months,15.27,59.83,C,C4,< 1 year,RENT,30000.0,Source Verified,2011-12-01,Charged Off,n,car,1.00,0.0,1999-04-01,5.0,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,2013-04-01,119.66,2016-02-01,2013-09-01,0.0,0.0,0.0,0.0,0.0,34,14
2,1077175,2400,2400,2400.0,36 months,15.96,84.33,C,C5,10+ years,RENT,12252.0,Not Verified,2011-12-01,Fully Paid,n,small_business,8.72,0.0,2001-11-01,2.0,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,2014-06-01,649.91,2016-02-01,2016-01-01,0.0,0.0,0.0,0.0,0.0,20,15
3,1076863,10000,10000,10000.0,36 months,13.49,339.31,C,C1,10+ years,RENT,49200.0,Source Verified,2011-12-01,Fully Paid,n,other,20.00,0.0,1996-02-01,1.0,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,2015-01-01,357.48,2016-02-01,2015-01-01,0.0,0.0,0.0,0.0,0.0,13,19
4,1075358,3000,3000,3000.0,60 months,12.69,67.79,B,B5,1 year,RENT,80000.0,Source Verified,2011-12-01,Current,n,other,17.94,0.0,1996-01-01,0.0,15.0,0.0,27783,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,2016-01-01,67.79,2016-02-01,2016-01-01,0.0,0.0,0.0,0.0,0.0,1,20

In [14]:
df_copy.loc[df_copy['pymnt_time'] < 0,'pymnt_time'] = 0
df_copy.loc[df_copy['credit_pull_year'] < 0,'credit_pull_year'] = df_copy['credit_pull_year'].max()
df_copy.drop(columns=['issue_d','earliest_cr_line','next_pymnt_d','last_pymnt_d','last_credit_pull_d','sub_grade'], inplace = True)

In [15]:
df_handling_emp_length = df_copy.copy()

In [16]:
df_handling_emp_length['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [17]:
mapping_tahun_angka = {
    '10+ years': 10,
    '< 1 year': 0,
    '1 year': 1,
    '2 years': 2,
    '3 years': 3,
    '4 years': 4,
    '5 years': 5,
    '6 years': 6,
    '7 years': 7,
    '8 years': 8,
    '9 years': 9
}

df_handling_emp_length["emp_length"] = df_handling_emp_length["emp_length"].map(mapping_tahun_angka)
df_handling_emp_length.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,purpose,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,pymnt_time,credit_pull_year
0,1077501,5000,5000,4975.0,36 months,10.65,162.87,B,10.0,RENT,24000.0,Verified,Fully Paid,n,credit_card,27.65,0.0,1.0,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,171.62,0.0,0.0,0.0,0.0,0.0,13,31
1,1077430,2500,2500,2500.0,60 months,15.27,59.83,C,0.0,RENT,30000.0,Source Verified,Charged Off,n,car,1.00,0.0,5.0,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,119.66,0.0,0.0,0.0,0.0,0.0,34,14
2,1077175,2400,2400,2400.0,36 months,15.96,84.33,C,10.0,RENT,12252.0,Not Verified,Fully Paid,n,small_business,8.72,0.0,2.0,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,649.91,0.0,0.0,0.0,0.0,0.0,20,15
3,1076863,10000,10000,10000.0,36 months,13.49,339.31,C,10.0,RENT,49200.0,Source Verified,Fully Paid,n,other,20.00,0.0,1.0,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,357.48,0.0,0.0,0.0,0.0,0.0,13,19
4,1075358,3000,3000,3000.0,60 months,12.69,67.79,B,1.0,RENT,80000.0,Source Verified,Current,n,other,17.94,0.0,0.0,15.0,0.0,27783,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,67.79,0.0,0.0,0.0,0.0,0.0,1,20

In [18]:
from sklearn.impute import KNNImputer

# Buat imputer KNN
imputer = KNNImputer(n_neighbors=11)
kolom_imputasi = ['emp_length']
df_handling_emp_length[kolom_imputasi] = imputer.fit_transform(df_handling_emp_length[kolom_imputasi])
df_handling_emp_length['emp_length'] = df_handling_emp_length['emp_length'].round().astype(int)
df_handling_emp_length['emp_length'].unique()

array([10,  0,  1,  3,  8,  9,  4,  5,  6,  2,  7])

In [19]:
good_loan = ['Current','Fully Paid','In Grace Period']
df_handling_emp_length['loan_status'] = np.where(df_handling_emp_length['loan_status'].isin(good_loan),1,0)

In [20]:
# Save clean data to csv
path_file = 'data/loan_cleaned.csv'
df_handling_emp_length.to_csv(path_file, index=False)